*{
    /* outline: 1px solid red; */
    margin: 0;
    padding: 0;
    color: #36064D;
    font-size: 1rem;
}
.contianer{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #dddcc9;

}
.calculator{
    width: 500px;
    height: 600px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    background-color: #76D2DB;
    border: 2px solid #36064D;
    padding: 20px;
    box-shadow: 5px 5px 10px 5px #36064D;

}
button{
    border-radius: 10px;
    background-color: #F7F6E5;
    border: 1px solid #36064D;
}
button:hover{
    color: #F7F6E5;
    background-color: #DA4848;
}
button:active{
    background-color: #a31212;
}
button>span{
    color: inherit;

}
.screen{
    width: 80%;
    height: 15%;
    padding: 5px 10px 0 0;
    background-color: #F7F6E5;
    border-radius: 10px;
    border: 2px solid #36064D;
}
.screenText{
    height: 80%;
    width: 100%;
    font-size: 2.25rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    overflow: hidden;
}
.miniScreenText{
    height: 20%;
    width: 100%;
    font-size: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    padding-bottom: 2px;
    overflow: hidden; 
    border-bottom: 2px solid #36064D;
    
}
.miniScreenText span{
    padding: 0 3px;
}
.buttons{
    width: 80%;
    height: 75%;
    display:flex;
    flex-direction: column;
}
.buttonSeperator1{
    display:flex;
    height: 90%;
    padding: 5px;
    justify-content: center;
}
.numbers{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.numbers button{
    width: 28%;
    height: 25%;
}
.numbers button:last-of-type{
    height: 15%;
    width: 90%;
}
.funcButtons{
    height: 10%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.funcButtons button{
    width: 33%;
    height: 80%;
}
.operators{
    display:flex;
    flex-direction: column;
    width: 25%;
    justify-content: space-between;
}
.operators button{

    height: 12%;
}
.miniHighlight{
    color: #F7F6E5;
    background-color: #DA4848;
}
.operatorHighlight{
    background-color: #a31212 !important;
    color:#F7F6E5 !important;

}
.exponentText{
    font-size: 0.6em;
    position:relative;
    top: -10px;
}
.clearButton{
    color: #F7F6E5;
    background-color: #DA4848;
}
.clearButton:hover{
    background-color: #a31212;
}
.clearButton:active{
    background-color: #DA4848;
}
